.header{
    background-color:rgb(100, 98, 98);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

#input{
    margin-top: 30px;
    margin-bottom: 30px;
}

.row{
    margin-bottom: 30px;
}

.title{
    background-color: lightblue;
}
